/* මුළු පිටුවේම background එකට ඇනිමේෂන් එක දානවා */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* ලස්සන Gradient පාට 3ක් තෝරාගත්තා */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  /* gradient_animation කියන ඇනිමේෂන් එක තත්පර 15ක් ඇතුළත දිගටම (infinite) ප්ලේ වෙන්න කියනවා */
  animation: gradient_animation 15s ease infinite;
  font-family: 'Arial', sans-serif;
}

/* මෙන්න background එක හෙමින් හොලවන ඇනිමේෂන් Logic එක */
@keyframes gradient_animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
